@charset "UTF-8";
@font-face {
  font-family: 'feathericons';
  src: url("../fonts/feathericons/feathericons.eot?2h4ajg");
  src: url("../fonts/feathericons/feathericons.eot?#iefix2h4ajg") format("embedded-opentype"), url("../fonts/feathericons/feathericons.woff?2h4ajg") format("woff"), url("../fonts/feathericons/feathericons.ttf?2h4ajg") format("truetype"), url("../fonts/feathericons/feathericons.svg?2h4ajg#feathericons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lobster';
  src: url("../fonts/lobster_1.3-webfont.woff2") format("woff2"), url("../fonts/lobster_1.3-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'echelonregular';
  src: url("../fonts/echelon_rg-webfont.woff2") format("woff2"), url("../fonts/echelon_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/**
 * Media query mixin.
 *
 * It’s not great practice to define solid breakpoints up-front, preferring to
 * modify your design when it needs it, rather than assuming you’ll want a
 * change at ‘mobile’. However, as inuit.css is required to take a hands off
 * approach to design decisions, this is the closest we can get to baked-in
 * responsiveness. It’s flexible enough to allow you to set your own breakpoints
 * but solid enough to be frameworkified.
 *
 * We define some broad breakpoints in our vars file that are picked up here
 * for use in a simple media query mixin. Our options are:
 *
 * palm
 * lap
 * lap-and-up
 * portable
 * desk
 * desk-wide
 *
 * Not using a media query will, naturally, serve styles to all devices.
 *
 * `@include grid-media-query(palm){ [styles here] }`
 *
 * We work out your end points for you:
 */
/**
 * Tell when breakpoints start.
 */
body:before {
  display: none; }
  @media only screen and (max-width: 680px) {
    body:before {
      content: 'palm'; } }
  @media only screen and (min-width: 681px) and (max-width: 1024px) {
    body:before {
      content: 'lap'; } }
  @media only screen and (min-width: 1025px) {
    body:before {
      content: 'desk'; } }
  @media only screen and (min-width: 1280px) {
    body:before {
      content: 'desk-wide'; } }

html,
body {
  height: 100%; }

.js .container,
.js .dragslider,
.js .img-dragger .handle {
  height: 100%; }

html.js {
  overflow: hidden;
  position: relative; }

.js body {
  overflow: hidden;
  position: relative; }

.js .dragslider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1); }

.dragslider.show-content {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.dragslider h2 {
  font-family: 'lobster', serif;
  font-size: 8em;
  font-weight: 700;
  margin: 0 auto;
  line-height: 1;
  position: relative;
  text-shadow: #000000 -1px 3px, #000000 0px 1px, #000000 -1px -1px, #000000 0px -2px; }

.no-js .dragslider h2 {
  padding: 15px; }

.dragslider h2 span {
  display: block;
  font-size: 27%;
  font-family: 'lobster', sans-serif;
  font-weight: 300;
  padding-top: 0.5em; }

/* Switch button */
button.slider-switch {
  font-size: 0;
  width: 60px;
  height: 60px;
  padding: 0;
  color: transparent;
  position: relative;
  border: none;
  background: url(../images/switchmin.svg) no-repeat center center;
  background-size: 100%;
  float: right;
  outline: none;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: auto; }
  button.slider-switch.hide {
    display: none; }

.no-js button.slider-switch {
  display: none; }

button.slider-switch.view-maxi {
  background-image: url(../images/switchmax.svg); }

button.slider-switch:hover {
  opacity: 1; }

/* Dragger */
.img-dragger {
  position: relative;
  z-index: 100; }

.js .img-dragger {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

.js .img-dragger-large {
  width: 100%;
  height: 100%; }

.js .img-dragger .handle {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  white-space: nowrap;
  font-size: 0; }

.no-js .img-dragger {
  height: auto;
  position: relative;
  text-align: center;
  font-size: 0;
  clear: both;
  white-space: nowrap;
  overflow: auto; }
  .no-js .img-dragger .handle {
    height: auto;
    position: relative;
    text-align: center;
    font-size: 0;
    clear: both;
    white-space: nowrap;
    overflow: auto;
    padding: 40px 0 0; }

.img-dragger .slide {
  display: inline-block;
  position: relative;
  height: 100%;
  background: #567076;
  font-size: 16px;
  white-space: normal;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top; }
  .img-dragger .slide.coming-soon {
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
    filter: grayscale(100%); }

.no-js .img-dragger .slide {
  width: 300px;
  font-size: 7px;
  min-height: 200px; }

.img-dragger .slide:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

.img-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .img-wrap img {
    position: absolute;
    display: block;
    height: calc(100% + 0.2px);
    opacity: 0.7; }

@media screen and (min-aspect-ratio: 1280 / 850) {
  .img-dragger .img-wrap span img {
    bottom: 0; }
  .img-dragger .img-wrap img {
    width: calc(100% + 0.2px);
    height: auto;
    position: absolute; } }

.js .slide h2 {
  color: #fff;
  position: absolute;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  text-align: center; }

.js .img-dragger-large .slide h2 {
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.js .img-dragger-large .slide.active h2:before {
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  background: url("/images/pin.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: 20%;
  left: 26%; }

.img-dragger-small .slide h2 {
  font-size: 3.5em;
  padding-top: 0.51em;
  top: 100%;
  width: 100%;
  text-align: center;
  color: #34495e;
  -webkit-animation: slideUpFade 0.4s 0.1s both; }
  .img-dragger-small .slide h2 span {
    font-size: 0.35em; }

.img-dragger-small .slide.current h2 {
  color: #fff;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transition: color 0.3s, opacity 0.3s;
  transition: color 0.3s, opacity 0.3s; }

@-webkit-keyframes slideUpFade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }

.slide h2 i {
  font-style: normal;
  font-weight: 400; }

button.content-switch {
  border: 2px solid #fff;
  border-radius: 40px;
  height: 60px;
  width: 60px;
  text-indent: -10000%;
  overflow: hidden;
  white-space: nowrap;
  background: transparent;
  color: #fff;
  font-family: 'Lato', sans-serif;
  position: absolute;
  cursor: pointer;
  top: 100%;
  left: calc(100vw - 50%);
  -webkit-transform: translate3d(-50%, -200%, 0);
  transform: translate3d(-50%, -200%, 0);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  z-index: 1000;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.3s, color 0.3s, border-color 0.3s;
  transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.3s, color 0.3s, border-color 0.3s; }

.no-js button.content-switch {
  display: none; }

button.content-switch:hover {
  opacity: 1; }

button.content-switch::before {
  content: '\e097';
  font-family: 'feathericons';
  speak: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  text-indent: 0;
  font-size: 1.5em;
  line-height: 0.75;
  top: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: nomAnim 1s ease infinite;
  -webkit-animation: nomAnim 1s ease infinite;
  -moz-animation: nomAnim 1s ease infinite;
  -ms-animation: nomAnim 1s ease infinite;
  -o-animation: nomAnim 1s ease infinite;
  animation: nomAnim 1s ease infinite; }

@keyframes nomAnim {
  from {
    top: 10px; }
  50% {
    top: 20px; }
  to {
    top: 10px; } }

.show-content .current button.content-switch {
  border-color: #fff;
  color: #fff;
  -webkit-transform: translate3d(52%, 30%, 0);
  transform: translate3d(42vw, 30%, 0); }
  @media screen and (max-width: 1024px) {
    .show-content .current button.content-switch {
      transform: translate3d(40vw, 30%, 0); } }
  @media screen and (max-width: 850px) {
    .show-content .current button.content-switch {
      transform: translate3d(38vw, 30%, 0); } }
  .show-content .current button.content-switch::before {
    content: 'X';
    top: 20px;
    font-family: arial;
    animation: none; }
  @media screen and (max-width: 690px) {
    .show-content .current button.content-switch {
      transform: translate3d(36vw, 30%, 0);
      width: 40px;
      height: 40px;
      font-size: 11px; }
      .show-content .current button.content-switch::before {
        top: 12px; } }

/* Content */
.js .pages {
  position: absolute;
  top: 100%;
  height: 0;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: height 0s 0.6s;
  transition: height 0s 0.6s; }

.js .show-content .pages {
  -webkit-transition: none;
  transition: none;
  height: 100%; }

.pages .content {
  background: rgba(40, 49, 56, 0.95);
  text-align: center;
  color: #fff;
  font-size: 1.5em; }

.js .pages .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: height 0s 0.6s;
  transition: height 0s 0.6s; }

.pages .btn-nav {
  position: absolute;
  z-index: 1000;
  bottom: 25px; }

.pages .right {
  right: 25px; }

.pages .left {
  left: 25px; }

.pages .content.show {
  height: auto;
  -webkit-transition: none;
  transition: none; }

.pages .content h2 {
  font-size: 3em;
  max-width: 70%;
  color: #fff;
  padding: 13px 0 0;
  text-align: left;
  margin-left: 45px; }

.no-js .pages .content h2 {
  padding-top: 1em; }

.pages .content h2 span {
  color: #95a5a6; }

.pages .content p {
  max-width: 60%;
  margin: 0 auto;
  padding: 0.5em 0;
  line-height: 1.5;
  text-align: justify;
  font-family: 'Segoe UI', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
  font-weight: 100;
  margin-left: 45px;
  line-height: 1.2em; }
  .pages .content p:last-child {
    padding: 5em 1em 8em;
    text-align: center;
    font-weight: bold;
    display: none; }
  @media only screen and (min-width: 681px) and (max-width: 1024px) {
    .pages .content p {
      text-align: left; } }

.js .pages .content h2,
.js .pages .content p {
  -webkit-transform: translate3d(0, 200px, 0);
  transform: translate3d(0, 200px, 0);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.pages .content.show h2 {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  float: left;
  width: 100%;
  margin-bottom: 20px; }

.pages .content.show p {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  float: left;
  width: 100%;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }
  @media screen and (max-width: 850px) {
    .pages .content.show p {
      float: none;
      max-width: 75%; } }

.pages .content a {
  color: #3c89d5;
  display: block; }
  .pages .content a:hover {
    color: #545b61; }

/* Switch */
.switch-min .img-dragger-large .slide > *:not(.img-wrap),
.switch-max .img-dragger-small .slide > *:not(.img-wrap) {
  /* fade out everything except image */
  opacity: 0;
  -webkit-transition: none;
  transition: none; }

.switch-min .img-dragger-large,
.switch-max .img-dragger-small {
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1); }

.img-dragger-small button.content-switch {
  opacity: 0;
  pointer-events: none; }

/* Helper classes */
.no-transition {
  -webkit-transition: none !important;
  transition: none !important; }

.hide {
  opacity: 0 !important;
  pointer-events: none !important; }

@media screen and (max-width: 63.125em) {
  .dragslider h2 {
    font-size: 20vw; }
  .pages .content {
    font-size: 100%; }
    .pages .content h2 {
      font-size: 3em; } }

@media screen and (max-width: 650px) {
  button.slider-switch {
    display: none; } }

.map {
  float: left;
  width: 30%;
  min-height: 355px;
  margin: -40px 0 59px 0;
  background: url("../images/inde.png") center no-repeat;
  background-size: contain; }
  @media screen and (max-width: 850px) {
    .map {
      display: none; } }
