/* Overlay-map style */
#trigger-overlay {
  position: absolute;
  top: calc(50% - 40px);
  right: 4.7%;
  z-index: 999; }

.overlay-map {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(153, 204, 51, 0.9);
  z-index: 1000; }
  .overlay-map h2 {
    font-family: 'lobster', serif;
    margin: 9px 0 0 21px; }
  .overlay-map nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .overlay-map ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative; }
    .overlay-map ul li {
      display: block;
      height: 20%;
      height: calc(100% / 5);
      min-height: 54px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .overlay-map ul li a {
        font-size: 54px;
        font-weight: 300;
        display: block;
        color: #fff;
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
        .overlay-map ul li a:hover, .overlay-map ul li a:focus {
          color: #f0f0f0; }

/* Overlay-map closing cross */
.overlay-map-close {
  width: 23px;
  height: 23px;
  position: absolute;
  right: 20px;
  top: 13px;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 1000; }

/* Menu style */
/* Effects */
html,
body {
  overflow-x: hidden; }

.container {
  overflow-x: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }
  .container.overlay-map-open {
    -webkit-transform: translateX(50%);
    transform: translateX(50%); }
  .container::after {
    content: '';
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s; }
  .container.overlay-map-open::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }

.overlay-map-contentpush {
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s; }
  .overlay-map-contentpush > div {
    position: absolute;
    top: 0;
    height: 48px;
    width: 100%;
    background-color: #2c3135; }
  .overlay-map-contentpush.open {
    visibility: visible;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    z-index: 1000; }

@media screen and (max-height: 30.5em) {
  nav {
    height: 70%;
    font-size: 34px; }
  ul li {
    min-height: 34px; } }
