@charset "UTF-8";
/**
 * Media query mixin.
 *
 * It’s not great practice to define solid breakpoints up-front, preferring to
 * modify your design when it needs it, rather than assuming you’ll want a
 * change at ‘mobile’. However, as inuit.css is required to take a hands off
 * approach to design decisions, this is the closest we can get to baked-in
 * responsiveness. It’s flexible enough to allow you to set your own breakpoints
 * but solid enough to be frameworkified.
 *
 * We define some broad breakpoints in our vars file that are picked up here
 * for use in a simple media query mixin. Our options are:
 *
 * palm
 * lap
 * lap-and-up
 * portable
 * desk
 * desk-wide
 *
 * Not using a media query will, naturally, serve styles to all devices.
 *
 * `@include grid-media-query(palm){ [styles here] }`
 *
 * We work out your end points for you:
 */
/**
 * Tell when breakpoints start.
 */
body:before {
  display: none; }
  @media only screen and (max-width: 680px) {
    body:before {
      content: 'palm'; } }
  @media only screen and (min-width: 681px) and (max-width: 1024px) {
    body:before {
      content: 'lap'; } }
  @media only screen and (min-width: 1025px) {
    body:before {
      content: 'desk'; } }
  @media only screen and (min-width: 1280px) {
    body:before {
      content: 'desk-wide'; } }
